[Desktop Entry]
Encoding=UTF-8
Name=tkcrithm
GenericName=tkcrithm
Comment=Cryptarithm solver
Exec=tkcrithm
Icon=
Terminal=false
Type=Application
Categories=Application;Utility;
Version=1.0
StartupNotify=false
